.story__article::after, .story h2::after, .site-footer::before, .site-footer::after, .site-footer ul::after, #studio h2::before, #studio h2::after {
    // Animation de rotation
    animation: rotation 5s infinite linear;
  }
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg); 
    }
}

/* Effet de déplacement vers le bas */
.banner {
  animation: moveDown 1s ease-in-out;
}

@keyframes moveDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px); /* Ajustez la valeur en fonction de votre besoin */
  }
}

/* Effet de déplacement vers le haut */
.banner_img, .story, #studio {
  animation: moveUp 1s ease-in-out;
}

@keyframes moveUp {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0); /* Ajustez la valeur en fonction de votre besoin */
  }
}

/* Effet de fixation du texte */
p {
  animation: fixed 4s ease-in-out forwards; /* Ajout de "forwards" pour conserver la position finale */

  opacity: 0; /* Optionnel : démarre transparent */
}

@keyframes fixed {
  0% {
   
    opacity: 0; /* Optionnel : transparent au début */
  }
  100% {
    
    opacity: 1; /* Optionnel : complètement visible */
  }
}

/* Section bannière */
.banner {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  overflow: hidden;
}

/* Vidéo en arrière-plan */
.banner_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Recouvre toute la section en gardant les proportions */
  z-index: 1;
  display: block;
}

/* Image du logo */
.banner_img {
  object-fit: cover;
  z-index: 2; /* Devant la vidéo */
  display: block;
}

.banner_img {
  display: inline-block; /* S'assurer que l'image peut être animée */
  animation: float 5s ease-in-out infinite; /* Durée et répétition */
  transition: transform 0.3s; /* Transition pour un effet plus fluide */
}

/* Animation de flottement */
@keyframes float {
  0% {
      transform: translateY(-10px); /* Position initiale */
  }
  25% {
    transform: translateX(-10px); /* Déplacement vers la gauche*/ 
}
  50% {
    transform: translateY(10px); /* Déplacement vers le bas */ 
  }
  75% {
    transform: translateX(10px); /* déplacement vers la droite*/
}
  100% {
    transform: translateY(-10px); /* Position initiale */
  }
}

/* Contenu principal */
.banner_content {
  position: relative;
  z-index: 2; /* Devant la vidéo et l'image */
  text-align: center;
  color: white; /* Ajustez selon vos besoins */
  padding: 20px;
}
